.header {
    background-color: #4444;
}
.wrap {
    width: 1200px;
    margin: auto;
}
.resetpass .wrap {
    padding: 0;
}
.clearfix {
    overflow: hidden;
}
.logo {
    line-height: 50px;
}
.logo a{
    float: left;
    width: 195px;
    height: 50px;
    background: url("../img/logo.png") no-repeat 10px 3px;
}
.h-title {
    color: #008422;
    font-size: 28px;
    margin-left: 40px;
}
.register {
    padding-top: 30px;
}
.forms {
    padding: 40px 0 50px;
    background-color: #fff;
    border: 1px solid #a5c9b6;
    border-top: 0;
    color: #444;
    font-family: Arial,"Microsoft YaHei";
}
.forms-left {
    float: left;
    font-size: 14px;
}
.forms-right {
    float: right;
}
.forms-left .input ,.login-main .input,.resetpass .input{
    width: 290px;
    height: 38px;
    margin-right:20px;
    padding-left: 14px;
    vertical-align: middle;
    border: 1px solid #c1c1c1;
    font-family: Arial,"Microsoft YaHei";
}
.codes {
    display: inline-block;
    width: 60px;
    height: 38px;
    line-height:38px;
    font-size: 16px;
    letter-spacing:3px;
    font-weight:bolder;
    text-align: center; 
    color:#008422;
    background-color: #f7f7f7;
    border: 1px solid #c1c1c1;
}
.forms-left p {
    margin-bottom: 30px;
}
.field-name {
    display: inline-block;
    width: 220px;
    padding-right: 20px;
    text-align: right;
}
.resetpass #tel-ver{
    font-family: Arial,"Microsoft YaHei";
}
.resetpass .ver-code, .phone-code {
    width: 147px;
}
.tab {
    color: #666;
}
.tab:hover {
    color: #008422;
}
.getCode {
    display: inline-block;
    width: 121px;
    height: 38px;
    line-height: 38px;
    margin-right: 20px;
    text-align: center;
    color: #008422;
    background-color: #f7f7f7;
    border: 1px solid #c1c1c1;
}
.agreebox {
    display: inline-block;
}
.agreements {
    color: #008422;
}
.forms-left label,.login-main label, .forms-left .error,.remind{
    color: #444;
    font-size: 14px;
}
#checkbtn {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
}
.error {
    display: none;
}
.signinbtn:hover,.btn-green:hover {
    background-color: #09964e;
}
#signupbtn {
    display: inline-block;
    width: 306px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #808080;
}
.remind {
    text-align: right;
    margin-bottom: 5px;
}
.loginbtn {
    margin: 0 36px 0 5px;
    color: #ef760a;
    text-decoration: underline;
}
.forms-right .image {
    padding-top: 50px;
    border-left: 1px dotted #a5c9b6;
}
.phone,.password,.confirm-password,.invicode,.resetpass .newpass,.resetpass .cfmpass {
    background: url(https://login.yiguo.com/Content/img/bg_input.png) no-repeat;
}
.password,.confirm-password,.invicode,.resetpass .newpass,.resetpass .cfmpass {
    background-position: 275px -68px;
}
.phone {
    background-position: 275px -29px;
}
.pass-error {
    color: red;
}
.pass-error i,.pass i, .pass-tip i {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    background: url(https://login.yiguo.com/Content/img/themes/bg_login.png) no-repeat;
    vertical-align: middle;
}
.pass-tip i{
    background-position: -20px -200px;
}
.pass-error i{
    background-position: -40px -200px;
}
.pass i {
    background-position: 0  -200px;
}
.popoutbox .popout {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 940px;
    height: 500px;
    display: none;
    border: 1px solid #008422;
    background-color: #fff;
}
.popoutbox  .popout-con {
    height: 370px;
    padding: 20px 10px 0;
    color: #3f3f3f;
    font: 12px/22px "宋体";
    overflow: auto;
}
.mask { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666;
    z-index: 0;
    opacity: 0.5;
    display: none;
}
.popoutbox .popout .title {
    position: relative;
    height: 40px;
    font: bold 16px/40px '宋体';
    text-align: center;
    border-bottom: 1px solid #6ab930;
    background-color: #fafcf6;
}
.popoutbox .close,.popout-code .close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 13px;
    height: 13px;
    background: url(https://login.yiguo.com/Content/img/login.png) no-repeat 0 0;
}
.popout-btn {
    height: 37px;
    margin-top: 12px;
    text-align: center;
}
.popout-btn .btn-gn {
    display: inline-block;
    width: 272px;
    margin: 0 20px;
    color:#fff;
    font: 16px/37px"宋体";
    border-radius: 3px;
    background-color: #008422;
}
.title span {
    color:#6ab930;
    margin-left: 250px;
}
.down-deal {
    float: right;
    color: #333;
    margin-right: 140px;
}
strong {
    margin-right: 5px;
}
.underline {
    text-decoration: underline;
}
.popoutbox sh4 {
    color: #555;
}
.loginBox {
   float: right;
   padding-right: 105px;
}
.login-main {
    width: 308px;
    padding: 30px 20px 20px;
    font-size: 12px;
    color: #444;
    background-color: #fff;
    border: 1px solid #e3e6e0;
}
.login {
    padding-top: 30px;
}
.login-main p {
    position: relative;
    margin-bottom: 20px;
}
.signin-titL {
    float: left;
    color: #262626;
    font-size: 18px;
}
.signin-titR,.gray {
    float: right;
    color: #878787;
    font: 12px/24px Arial, "SimSun";
}
.signin-titR a {
    color: #008422;
    text-decoration: underline;
}
.login .input {
    width: 254px;
    margin-right: 0;
    padding-left: 50px;
    vertical-align: middle;
    font: 14px/38px "Microsoft YaHei";
}
.signin-icon {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(https://login.yiguo.com/Content/img/bg_input.png) no-repeat;
}
.input-phoneicon {
    left: 1px;
    top: 1px;
    background-position: 0px -120px;
}
.input-keyicon {
    left: 1px;
    top: 1px;
    background-position: 0px -180px;
}
.login .VerifyCode{
    float: left;
    width: 100px;
}
 #login-auto {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
}
#auto,.third {
    color: #878787;
    font: 12px/24px Arial, "SimSun";
}
.signinbtn,.btn-green {
    display: inline-block;
    width: 306px;
    height: 50px;
    line-height: 50px;
    font-size: 18px; 
    text-align: center;
    color: #fff;
    background-color: #008422;
}
.other i {
    display: inline-block;
    width: 88px;
    height: 20px;
    margin-right: 20px;
    vertical-align: middle;
    background: url(https://login.yiguo.com/Content/img/themes/bg_login.png) no-repeat;
}
.qq i {
    background-position: -60px -200px;
}
.sina i {
    background-position: -160px -200px;
}
.ay i {
    width: 57px;
    margin-right: 0;
    background-position: -260px -200px;
}
.popout-code {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 410px;
    height: 250px;
    margin: auto;
    padding: 45px;
    border: 1px solid #c7c7c7;
    background: #fff;
    z-index: 1;
    display: none;
}
.popout-code p {
    padding: 0 40px;
    line-height: 24px;
    font-size: 14px;
    color: #565656;
}
.popout-code .pcode {
    margin: 35px 0 0;
    text-align: center;
}
.msg-wrap {
    height: auto;
    margin: 2px 0px 5px;
    min-height: 31px;
}
.msg-error {
    position: relative;
    background: #FFEBEB none repeat scroll 0% 0%;
    border: 1px solid #E4393C;
    padding: 3px 10px 3px 40px;
    line-height: 18px;
    min-height: 18px;
    color: #E4393C;
}
.resetpass p {
    width: 66%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #444;
    font: 14px Arial,"Microsoft YaHei";
}
.resetpass {
    padding-top: 30px;
}
.step {
    width: 1200px;
    height: 48px;
    margin: 60px 0;
    margin-top: 0;
    background: url(https://login.yiguo.com/Content/img/themes/bg_login.png) no-repeat;
}
.input-res {
    width: 180px;
}
.step2 {
    background-position: 0 -48px;
}
.step-inp {
    background: url(https://login.yiguo.com/Content/img/bg_input.png) no-repeat 275px -68px;
}
.step3 {
    background-position: 0 -96px;
}
.step4 {
    background-position: 0 -142px;
}
.complete {
    text-align: center;
    font: bold 18px/120px "Microsoft YaHei";
    color: #333;
}
.complete i {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(https://login.yiguo.com/Content/img/themes/bg_login.png) no-repeat  -420px -194px;
    margin-right: 20px;
    vertical-align: middle;
}
/* 我的易果详情页 */
.mygnav {
    font-size: 12px;
    line-height: 10px;
    margin: 10px 0 10px -10px;
}
.mygnav a {
    margin: 0 10px;
    font-size: 12px;
    color: #444;
    font-family: Arial,Verdana,"\5b8b\4f53";
}
.mygnav .m-order {
    color: #e8380d;
    text-decoration: underline;
}
.m-order:hover {
    color: #e8380d;
}
/* 我的易果详情侧边 */
.l-menu {
    float: left;
    width: 163px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #eff1ed;
    background: #fff;
}
.l-menu dl {
    line-height: 30px;
    font-size: 12px;
}
.l-menu dt {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.l-menu dd a{
    color: #666;
}
.l-menu dd a:hover{
    color: #008422;
}
.l-menu .on{
    color: #008422;
}
#num {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height:16px;
    margin-left: 10px;
    text-align: center;
    color: #fff;
    background-color: #e93005;
    border-radius:50%;
}
/* 详情中间内容 */
.main {
    float: left;
    width: 942px;
    margin-left: 21px;
}
.maincontent { 
    padding: 20px;
    background: #fff;
    border: 1px solid #e3e6e0;
}
.maincontent .comment-detail {
    padding: 10px;
}
.myygcontent {
    width: 984px;
}
/* 我的易果内容 */
.user-info {
    position: relative;
    margin-bottom: 20px;
    height: 122px;
    padding-right: 4px;
    background: url(http://static01.yiguo.com/utaste/images/user-info-bg.png) no-repeat top right;
}
.user-info .info-lcol {
    float: left;
    position: relative;
    width: 485px;
    height: 90px;
    padding: 15px 17px 15px 0;
    border: 1px solid #e3e6e0;
    border-right: 0px;
    border-radius: 86px 0 0 86px;
    background: #fff;
}
.user-info .u-pic {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 0 0 20px;
    z-index: 2;
    overflow: hidden;
    text-align: center;
}
.user-info .u-name .name {
    display: block;
    float: left;
    width: 90px;
    font-size: 18px;
    color: #444;
    font-family: "microsoft yahei";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-info .u-name .modify {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    color: #008842;
    text-decoration: underline;
}
.user-info .u-level .grade {
    height: 16px;
    font-size: 12px;
    color: #444;
}
.user-info .u-level .grade i {
    display: inline-block;
    width: 13px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(http://static01.yiguo.com/utaste/images/yyh-icon.jpg) no-repeat;
}
.user-info .u-level {
    margin-bottom: 10px;
}
.user-info .u-safe {
    float: left;
    margin: 0 0 0 20px;
    line-height: 30px;
    color: #666;
}
.user-info .u-pic .pic-border {
    background: url(http://static01.yiguo.com/utaste/images/myjd-bg.png) no-repeat 0 0;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.user-info .info-m {
    float: left;
    width: 140px;
    position: relative;
    margin-left: 20px;
}
.user-info .u-name {
    line-height: 28px;
    margin-bottom: 5px;
}
.user-info .u-level .grade-line span {
    position: relative;
    height: 4px;
    background: #dfeed3;
    display: block;
    width: 100%;
}
.user-info .u-level .grade-line {
    width: 115px;
    height: 4px;
    margin-top: 8px;
}
.user-info .u-level .vip-info {
    display: block;
    margin-top: 10px;
    color: #999;
    font-size: 12px;
    text-decoration: underline;
}
.user-info .u-safe {
    float: left;
    margin: 0 0 0 20px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}
.user-info b {
    color: #e8380d;
    font-weight: normal;
}
.user-info .u-safe .safe-rank a {
    margin-left: 15px;
}
.user-info .u-safe  a {
    color: #008422;
    text-decoration: underline;
}
.user-info .u-safe .telNum i, .user-info .u-safe .e-mail i {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(http://static01.yiguo.com/utaste/images/user-info.png);
}
.user-info .u-safe .telNum i {
    background-position: -24px 0;
}
.user-info .u-safe .e-mail i {
    background-position: 0  0;
}
.user-info .info-line {
    position: absolute;
    right: 0;
    top: -1px;
    width: 17px;
    height: 122px;
    z-index: 0;
    background: url(http://static01.yiguo.com/utaste/images/info-line.jpg) no-repeat;
}
.user-info .info-rcol {
    float: left;
    height: 120px;
    width: 477px;
    border: 1px solid #e3e6e0;
    border-right: 0px;
    border-left: 0px;
    background: #fff;
}
.user-info .acco-info li h4 {
    height: 15px;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: normal;
}
.user-info .acco-info li {
    float: left;
    width: 25%;
    text-align: center;
}
.user-info .acco-info li i {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(http://static01.yiguo.com/utaste/images/user-info.png);
}
.user-info .acco-info .balance i {
    background-position: -48px 0;
}
.user-info .acco-info .yb i {
    background-position: -71px 0;
}
.user-info .acco-info .coupons i {
    background-position: -95px 0;
}
.user-info .acco-info {
    margin-top: 22px;
}
.user-info .acco-info li .nums {
    margin: 10px 0;
    font-size: 16px;
}
.user-info .acco-info li a {
    display: inline-block;
    padding: 2px 7px;
    color: #5d5d5d;
    font-size: 12px;
    border: 1px solid #c5c5c5;
    background: #fafafa;
}
.main .myorder,.main .mod-buy {
    margin-bottom: 20px;
    background-color: #ffff;
}
.main  .myorder .table-title,.main .mod-buy .table-title  {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px dashed #e7e7e7;
    background: #eff7f1;
}
.main .myorder .table-title h3,.main .mod-buy.table-title h3  {
    font-size: 14px;
}
.main .myorder .table-title a ,.main .mod-buy .table-title a{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #008842;
    font-size: 12px;
    text-decoration: underline;
}
.main .myorder .j_allorderli .order-none,.main .mod-buy .j_allorderli .order-none {
    height: 70px;
    line-height: 70px;
    padding: 5px 35px;
    font-size: 14px;
    text-align: left;
} 
.main .mod-buy thead th {
    font-size: 12px;
    color: #444;
    font-weight: normal;
}
#historylst {
    margin: 20px 0 0 25px;
}
/*我的优惠券 */
.main .title {
    padding-bottom: 10px;
    color: #008422;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #008842;
}
.title-r {
    float: right;
}
.title-r a {
    font-size: 12px;
    color: #008422;
    font-weight: normal;
    text-decoration: underline;
}
.myyg-tab {
    border-bottom: 1px solid #ebebeb;
}
.myyg-tab span {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 22px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.myyg-tab .on {
    color: #008422;
    border-bottom: 3px solid #008422;
}
.new-coupon li {
    float: left;
    width: 440px;
    padding: 0 0 20px 19px;
}
.coupon-detail {
    margin-top: 20px;
}
.new-coupon .mj {
    width: 417px;
    height: 120px;
    padding: 14px 22px;
    font-size:14px;
    font-family: arial, simsun;
    background: url(http://static01.yiguo.com/utaste/images/coupon-bg.png)  no-repeat -1px -131px;
}
.mjfl {
    float: left;
    width: 90px;
    height: 82px;
    padding: 5px 0;
    text-align: center;
    color: #f9742e;
}
.mjfl div {
    font-size:38px;
    font-weight: bold;
}
.mjfr strong {
  font-weight: normal;
  color:#d54f30;
}
.mjfl strong {
    font-size: 16px;
    color: #f9742e;
}
.mjfl span {
    margin-top: 5px;
    color: #f9742e;
}
u {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.mjfr p {
    height: 55px;
    line-height: 18px;
}
.mjfr {
    float: left;
    padding: 10px;
    font-size: 12px;
    color:#444;
}
/* 页码 */
.page {
    float: right;
    height: 24px;
    margin-top: 30px;
    font-size: 12px;
}
.page .pagenum,.page .pagetotal,.page .pageto {
    float: left;
}
.pagenum {
    margin-right: 20px;
}
.page .pagenum a{
    display: inline-block;
    line-height: 22px;
    margin: 0 3px;
    padding: 0 7px;
    color:#333;
    background: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.page .pagetotal {
    line-height: 24px;
}
.pagenum a:hover {
    border-color:#008422;
}
.page .pagenum .Num {
    color:#008422;
    border: 1px solid #008422;
}
.page .pagetotal,.page .pageto,.page .pagenum {
    margin-left: 10px;
}
.page .pageval {
    width: 28px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    outline: none;
}
.pageto span {
    margin: 0 5px;
}
.pagebtn {
    width: 43px;
    height: 22px;
    cursor: pointer;
    outline: none;
    background: #f4f4f4;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.hidden {
    display: none;
}
/* 我的悠币 */
.maincontent .myyb {
    margin: 20px 0;
    font-size: 12px;
    color: #444;
}
.maincontent .myyb strong {
    font-weight: normal;
    color: #e93005;
}
.maincontent .myyb a {
    color: #ef760a;
    text-decoration: underline;
}
.maincontent .myyb a.btn-gn {
    display: inline-block;
    width: 96px;
    height: 26px;
    line-height: 26px;
    margin: 0 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border: 1px solid #008842;
    background: #008842;
    text-decoration: none;
}
.maincontent .subtitle {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}
.maincontent .subtitle strong {
    display: inline-block;
    font-size: 14px;
    padding: 10px 16px;
    border-bottom: 3px solid #008842;
}
.oreder-select,.return-selects {
    float: right;
}
.maincontent .subtitle .select {
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 0;
}
.maincontent .select div {
    float: right;
    margin-left: 10px;
    font-size: 13px;
}
.maincontent .select div select,.maincontent .select div select option {
    font-family: "Microsoft YaHei";
    outline: none;
}
.maincontent .myyg-table {
    margin-bottom: 40px;
    text-align: center;
    color: #444;
}
.myyg-table table {
    width: 100%;
    font-size:12px;
}
.myyg-table thead th ,.usedtit thead th{
    color: #333;
    font-weight: normal;
}
.usedtit {
    width: 100%;
    margin-bottom: 20px;
    font-size:12px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.usedtit thead tr,.myyg-table thead tr ,.mod-buy thead tr{
    height: 40px;
    background-color: #F7F7F7;
}
.pasttit tbody tr,.myyg-table tbody tr {
    height: 40px;
    color: #444;
}
/* 我的订单 */
.order-table {
    margin-top: 13px;
    padding-bottom: 0px;
}
.order-list-head {
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    background: #f4f4f4;
}
.order-list-head span {
    float: left;
    line-height: 40px;
    font-size: 12px;;
    font-weight: normal;
    text-align: center;
}
.w520 {
    width: 520px;
}
.w140 {
    width: 140px;
}
.order-none a {
    color: #008422;
    text-decoration: underline;
}
.order-none {
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #444;
    text-align: center;
}
/* 购买过的商品 */
.toolbar {
    height: 48px;
    padding: 10px 26px;
    font-size:12px;
}
.toolbar label {
    font-size:12px;
    margin-right: 30px;
}
.j_checkall {
    margin-right: 30px;
    vertical-align: middle;
}
.toolbar a {
    display: inline-block;
    width: 110px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #fff2ec;
    border: 1px solid #f14b00;
    color: #f14b00;
    margin-right: 10px;
}
.toolbar i {
    display: inline-block;
    width: 20px;
    height: 16px;
    vertical-align: middle;
    margin-right: 6px;
    background: url(http://static01.yiguo.com/utaste/images/btn_icon.png) no-repeat 0 0;
}
.goods th{
    height: 40px;
    padding: 0 10px;
    background-color: #f1f1f1;
    font: 12px/40px "SimSun";
    color: #262626;
}
.t-check {
    width: 58px;
    text-align: center;
}
.t-name {
    text-align: left;
}
.t-price {
    width: 140px;
    text-align: center;
}
.t-opera {
    width: 120px;
    text-align: center;
}
.maincontent .goods-tab {
    margin-bottom: 10px;
}
.mylist-list,.center p,.sub-tit,.exchange{
    font-size: 12px;
    color: #444;
}
 /* 我的礼品兑换券  */
 .giftExchange {
    margin-top: 20px;
}
.giftExchange h2 {
    font-size: 24px;
    text-align: center;
}
.giftExchange p {
    font-size: 12px;
}
/* 评论商品 */
.maincontent .tips {
    font-size: 12px;
    color: #444;
    margin: 25px 0 20px 0;
}
.coupon-content .discuss {
    margin-left: 10px;
    font-size: 12px;
    color: #444;
} 
.maincontent .tips a {
    padding-left: 10px;
    color: #ef760a;
}
/* 卡包余额 */
.balance-tt  {
    line-height: 15px;
}
.balance-tt h1 {
    margin-left: 18%;
    font-size: 12px;
}
.center {
    text-align: center;
}
/* 个人资料 */
.sub-tit {
    font-size: 12px;
    color: #444;
    margin: 30px 0 28px 30px;
}
.control-group {
    overflow: hidden;
    font-size: 12px;
    color: #444;
    margin-bottom: 20px;
}
.control-label {
   float: left;
   width: 100px;
   text-align: right;
   line-height: 30px;
}
.controls {
   margin-left: 120px;
   line-height: 30px;
}
#btnUpload img {
   vertical-align: middle;
}
.EidtGroup #RealName {
   width: 284px;
   height: 28px;
   font-size: 12px;
   color: #333;
   line-height: 28px;
   padding-left: 10px;
   margin-right: 15px;
   border: 1px solid #c1c1c1;
} 
.passlen-tip i {
   width: 17px;
   height: 17px;
   vertical-align: middle;
   display: inline-block;
   margin-right: 9px;
   background: url(http://static01.yiguo.com/utaste/images/bg_login.png) -20px -200px no-repeat;
}
.EidtGroup .edit,.EidtGroup .edits {
    color: #54a110;
    border-bottom: 1px solid #54a110;
}
/* 新加的样式 */
.EidtGroup .input {
    width: 284px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    margin-right: 15px;
    border: 1px solid #c1c1c1;
}
/* 遮罩层 */
.myMessage-mark {
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    position: fixed;
    background: rgba(0,0,0,.3);
}
/* 遮罩层弹窗 */
.popout-wrap {
    width: 418px;
    height: auto;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: -98px;
    background: #fff;
    border: 1px solid #008842;
}
.popout-cons .title {
    position: relative;
    padding: 7px 3px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #008842;
}
.popout-cons .title i {
    vertical-align: middle;
    display: inline-block;
    width: 13px;
    height: 16px;
    margin-right: 10px;
    background: url(http://static01.yiguo.com/utaste/images/promotion-img.png) no-repeat -62px -39px;
}
.popout-cons .cons {
    padding: 25px 30px;
    line-height: 22px;
    font-size: 12px;
}   
.popout-cons .cons p {
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
} 
.popout-cons .cons .btnbox {
    margin-top: 45px;
    text-align: center;
}
.btnbox .confirm {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 0 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #008842;
    border-radius: 3px;
    color: #fff;
    background-color: #008842;
}
.EidtGroup .a-change,.EidtGroup .b-change {
    margin-left: 10px;
}
.EidtGroup .a-change i,.EidtGroup .b-change i {
    display: inline-block;
    width: 12px;
    height: 12px;
    color: #54a110;
    background: url(http://static01.yiguo.com/utaste/images/icon_edit.png) no-repeat;
    vertical-align: middle;
}
.pass-tip i {
   width: 17px;
   height: 17px;
   vertical-align: middle;
   display: inline-block;
   margin-right: 9px;
   background: url(http://static01.yiguo.com/utaste/images/bg_login.png) -20px -200px no-repeat;
}
.IRA .edit {
    color: #54a110;
    border-bottom: 1px solid #54a110;
}
.bindEmail {
    margin-left: 10px;
    line-height: 23px;
    padding: 2px;
    display: inline-block;
    color: #fff;
    border: 1px solid #008842;
    background: #008842;
}
.bindEmail:hover {
    color: #fff;
    background: #0ba053;
}
.sub-tit {
    margin: 30px 0 28px 30px;
}
.controls label {
    margin-right: 30px;
}
.controls label #sex {
    margin-right: 6px;
    font-size: 12px;
    color: #333;
}
.controls label input {
    margin-right: 6px;
}
.controls select {
    width: 63px; 
    height: 19px;
    outline: none;
    border: 1px solid rgb(169, 169, 169);
}
.controls .Birthday option {
    font-size: 13px;
    font-weight: normal;
    display: block;
    padding: 0px 2px 1px;
}
.controls .btn-green {
    display: inline-block;
    width: 306px;
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    color: #fff;
    font: 18px "Microsoft YaHei";
    background: #008422;
}
.controls .btn-green:hover {
    background: #0ba053;
}
/* 账户安全 */
.safe-info .si-user {
    padding: 30px 0;
}
.safe-info .userimg img {
    float: left;
    width: 84px;
    height: 84px;
    border: 4px solid #e5e5e5;
    border-radius: 84px;
    background-color: #f2f2f2;
    margin-right: 20px;
}
.safe-info .username {
    color: #333;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
}
.safe-info .username .edit {
    margin-left: 20px;
    font-size:12px;
    color:#008422;
    font-weight: normal;
    border-bottom: 1px solid #54a110;
}
.safe-info .username .edit i {
    display: inline-block;
    width: 11px;
    height: 11px;
    vertical-align: middle;
    background: url(http://static01.yiguo.com/utaste/images/themes/icon_edit.png) no-repeat;
}
.si-password div,.si-paypass div,.si-mail div,.si-phone div{
    float: left;
}
.safe-info .si-password,.safe-info .si-paypass,.safe-info .si-mail,.safe-info .si-phone  {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.safe-info .field {
    height: 50px;
    margin: 10px 34px 10px 0;
    padding: 0 30px;
    font: 18px/50px "Microsoft YaHei";
    color:#444;
    border-right: 1px solid #e6e6e6;
}
.safe-info .si-password i,.safe-info .si-paypass i,.safe-info .si-mail i,.safe-info .si-phone i {
    display:inline-block;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    vertical-align: middle;
    background: url(http://static01.yiguo.com/utaste/images/themes/bg_safe.png) no-repeat;
}
.safe-info .finshsp i {
    background-position: 0px 0px;
}
.safe-info .continuesp i {
    background-position: -30px 0;
}
.safe-info .supply {
    width: 620px;
    line-height: 22px;
    padding: 12px 0;
    color: #666;
    font-size: 12px;
}
.safe-info .operate {
    margin: 10px 0;
    line-height: 22px;
}
.safe-info .btn-green {
    display: inline-block;
    width: 64px;
    height: 28px;
    margin-bottom: 10px;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #008422;
}
.safe-info .supply .red {
    color: #e8380d;
    line-height: 46px;
}
.safe-info .editphone-btn ,.safe-info .email-btn{
    color: #008422;
    background: #ffff;
    border: 1px solid #008422;
}
.myphone strong,.myemail strong {
    color: #333;
}
/* 企业福利 */
.qiyelogin {
    height: 530px;
}
.sub-tit {
    margin: 30px 0 28px 30px;
    font-size: 12px;
    font-family: Arial,Verdana,"\5b8b\4f53";
}
.qiyelogin .control-group {
    padding-left: 20%;
    margin-bottom: 20px;
}
.control-label {
    float: left;
    display: block;
    width: 100px;
    text-align: right;
    line-height: 30px;
}
.qiyelogin .input {
    width: 284px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    margin-right: 15px;
    border: 1px solid #c1c1c1;
}
#IArgee {
    vertical-align: middle;
}
.qiyelogin .controls .btn-gn, .popout-content .continue, .popout-content a {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 0 20px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #008842;
    border-radius: 3px;
}
.qiyelogin .controls #btnSendCode {
    display: inline-block;
    height: 30px;
    margin-right:10px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #008422;
    border: 1px solid #008842;
}

.qiyelogin .controls .btn-gn:hover ,.qiyelogin .controls #btnSendCode:hover{
    background: #09964e;
}
.popout-content .continue, .popout-content a {
    color: #fff;
    background: #008842;
}
.popout-content .continue:hover, .popout-content .confirm:hover {
    background: #09964e;
}
.qiyelogin .green {
    color:#008842;
}
.btn-green-l {
    width: 306px;
    display: inline-block;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #008842;
    font: 18px/50px "Microsoft YaHei";
}
.btn-green-l:hover {
    color: #fff !important;
    background: #09964e;
}
.mt60 {
    margin-top: 60px;
}
.mt10 {
    margin-top: 10px;
}
.font-red {
    color: #e8340c;
}
.qypopout {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}
.qiye .popout-wrap {
    width: 650px;
    margin-left: -325px;
    margin-top: -222px;
}
.qiye .popout-content .content {
    padding: 20px;
}
.popout-wrap {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 418px;
    height: auto;
    margin-left: -210px;
    margin-top: -98px;
    background: #fff;
    border: 1px solid #008842;
}
input[name="ValidType"] {
    vertical-align: middle;
}
.popout-wrap .popout-con {
    border-color: #008842;
}
.popout-content .title {
    background-color: #008842;
}
.popout-content .title i {
    display: inline-block;
    width: 13px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(http://static01.yiguo.com/utaste/images/promotion-img.png) no-repeat -62px -39px;
}
.popout-content .content {
    padding: 25px 30px;
    line-height: 22px;
    font-size: 12px;
}
.popout-content .title {
    position: relative;
    padding: 7px 3px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #008842;
}
.popout-content p {
    color: #3f3f3f;
    text-align: center;
}
.popout-content .btnbox {
    text-align: center;
    margin-top: 20px;
}
.popout-content .btnbox a {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 0 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #008842;
    border-radius: 3px;
}
.popout-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #000;
    border: 0;
    opacity: .20;
}
.ti20 {
    text-indent: 20px;
}
/* 在线退换货 */
.returns-none {
    padding: 90px 0;
    font-size: 14px;
    color: #444;
    text-align: center;
}
.return-text {
    font-size: 12px;
    color: #444;
    padding: 15px 0;
}
.returngoods {
    margin-bottom: 0px;
}
#selspan {
    outline: none;
    font-size: 13px;
    font-family: Arial,"Microsoft YaHei";
}
.exchange {
    padding-left: 25px;
    margin-top: 10px;
}
.complain {
    font-size: 12px;
    color: #444;
}
/* 修改账户安全中的密码 */
.sub-title {
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.maincontent .edit-group,.maincontent .set-group {
    margin-bottom: 40px;
}
.maincontent .edit-group .group-labelR,.btn,.maincontent .set-group .group-labelR,.btn {
    margin-left: 315px;
    line-height: 40px;
}
.maincontent .edit-group .group-labelL,.set-group .group-labelL {
    float: left;
    width: 300px;
    text-align: right;
    line-height: 40px;
}
.maincontent .edit-group input,.maincontent .set-group input {
    width: 290px;
    height: 38px;
    line-height: 38px;
    padding-left: 14px;
    margin: 0 16px 0 3px;
    border: 1px solid #c1c1c1;
    vertical-align: middle;
    outline: none;
    background: url(http://static01.yiguo.com/utaste/images/bg_input.png) 278px -70px no-repeat
}
.maincontent .set-group .infoCode{
    background: 0;
}
.edit-cont .group-labelL,.set-group .group-labelL {
    font-size: 14px;
    color: #444; 
}
.edit-cont .group-labelR,.set-group .group-labelR {
    font-size: 12px;
}
.edit-cont .error {
    font-size: 14px;
    color: #ff0000;
    margin-left: 3px;
}
/* 设置密码 */
.maincontent .setpass-tit {
    margin-bottom: 20px;
    font-size: 12px;
    color: #444;
}
.maincontent .setpass-tit .aGotoLink {
    height: 30px;
    padding: 4px 7px 4px 7px;
    line-height: 30px;
    border: 1px solid #37a937;
    border-radius: 3px;
    color: #888;
}
.addrs {
    width: 940px;
    height: 30px;
    font-size: 12px;
    margin: 15px 0px;
}
.addrs .btn-gn {
    display: inline-block;
    color: #fff;
    outline: none;
    font-size: 12px;
    padding: 7px 10px;
    margin-right: 20px;
    text-decoration: none;
    vertical-align: middle;
    background-color: #008842;
    border: 1px solid #008842;
}
.consigneeCount,.consigneeCount1 {
    color: #5fad26;
}
/* 弹框 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    width: 540px;
    overflow: auto;
    padding: 0 15px;
    margin: -200px 0 0 -285px;
    background-color: #fafcf6;
    border: 1px solid #6ab930;
}
.modal-body {
    overflow-y: auto;
    max-height: 400px;
    padding: 15px 30px 23px 28px;
    min-height: 150px;
    color: #333;
}
.modal-backdrop1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9;
    opacity: 0.35;
    background-color: #b0b0b0;
}
.modal-header {
    border-bottom: 1px solid #6ab930;
    position: relative;
}
.modal-header .h3 {
    color: #5caa22;
    height: 38px;
    box-sizing: border-box;
    font: 14px/38px microsoft yahei;
}
.modal-header .close {
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #b5c399;
    font-family: sans-serif;
}
.modal-header .h3 .i-newaddr {
    background-position: -220px -160px;
}
.modal-header .h3 .i-newaddr {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.i-newaddr {
    background-image: url("http://static01.yiguo.com/utaste/images/themes/bg_order.png");
}

.input-l,
.input-m,
.input-xl {
    vertical-align: middle;
    outline: none;
    width: 240px;
    font-size: 12px;
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.input-m {
    width: 200px;
}
.input-xl {
    width: 300px;
}

.controlgroup {
    width: 482px;
    height: 26px;
    margin-bottom: 20px;
}
.control-label {
    float: left;
    width: 85px;
    height: 26px;
    display: block;
    font-size: 12px;
    color: #333333;
    text-align: right;
    line-height: 26px;
}
.span {
    color: #ff5317;
    padding-right: 5px;
}
.valid {
    outline: none;
    width: 110px;
    margin-right: 10px;
    vertical-align: middle;
}
.Controls {
    width: 400px;
    height: 25px;
    margin-left: 85px;
}
.Controls .adrtag {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.modal .Controls .adrtag.selected {
    background-color: #f2fcf7;
    border-color: #7bb798;
}
.modal b {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 12px;
    overflow: hidden;
    background-image: url("http://static01.yiguo.com/utaste/images/themes/bg_order.png");
    background-position: -80px -180px;
}
.modal .Controls .btn-save {
    background-color: #70bd2c;
    border: 1px solid #62b01e;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px 30px;
    text-decoration: none;
}
.Controls:hover .btn-save {
    background: #008422;
    opacity: .9;
}
.addressList li {
    list-style: none;
    position: relative;
    width: 940px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
}
.addressList .name {
    font: bold 18px microsoft yahei;
    color: #333;
    font-size: 18px;
}
.addressList .del-btn {
    cursor: pointer;
    font-size: 12px;
    color: #b5c399;
    font-family: sans-serif;
    position: absolute;
    right: 36px;
    top: 15px;
}
.addressList dd {
    line-height: 25px;
}
.addressList dd span {
    display: inline-block;
    width: 77px;
    text-align: right;
}
.addressList .btns {
    position: absolute;
    right: 36px;
    bottom: 15px;
}
.btns .a1:hover {
    color: rgb(247, 90, 43);
}
.addressList .btns a {
    padding-left: 15px;
    color: #666;
    text-decoration: none;
    outline: none;
}
.btns .a2:hover {
    color: #70bd2c;
}
.paging {
    clear: both;
    float: right;
    color: #333;
}
.paging .paging-num a {
    display: block;
    float: left;
    height: 22px;
    margin: 0 3px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 7px;
    line-height: 22px;
    color: #333;
    text-decoration: none;
}
.paging .paging-num,
.paging .paging-total,
.paging .paging-form {
    float: left;
    margin-left: 10px;
}
.paging .paging-total {
    line-height: 24px;
}
.paging .paging-form span {
    line-height: 24px;
    margin: 0 5px;
    vertical-align: middle;
}
.paging .paging-form input {
    text-align: center;
    border: 1px solid #ccc;
    width: 28px;
    height: 22px;
    padding: 0;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 22px;
}
.paging .paging-form button {
    background: #f4f4f4;
    cursor: pointer;
    border: none;
    color: #333;
    width: 43px;
    height: 24px;
    vertical-align: middle;
    line-height: 22px;
    border: 1px solid #ccc;
}
/* 判断是否设置为默认地址 */
.popout {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}
.popout-wrap {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 418px;
    height: auto;
    margin-left: -210px;
    margin-top: -98px;
    background: #fff;
    border: 1px solid #008842;
}
.popout-wrap  .popout-con {
    border-color: #008842;
}
.popout-wrap .popout-con .title {
    position: relative;
    padding: 7px 3px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #008842;
}
.popout-wrap .popout-con .title i {
    width: 13px;
    height: 16px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
    background: url("http://static01.yiguo.com/utaste/images/promotion-img.png") no-repeat -62px -39px;
}
.popout-wrap .popout-con .con {
    padding: 25px 30px;
    line-height: 22px;
    font-size: 12px;
}
.popout-wrap .popout-con p {
    color: #3f3f3f;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}
.replace-p {
    color: #3f3f3f;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}
.popout-con .btnbox {
    text-align: center;
    margin-top: 45px;
}
.popout-con .btnbox a.cancel {
    color: #008842;
    background: #fff;
}
.popout-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #000;
    border: 0;
    opacity: .20;
}
.popout-con .btnbox a.confirm {
    color: #fff;
    background-color: #008842;
}
.popout-con .btnbox a {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 0 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #008842;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}
.Must-fill {
    color: red;
    margin-left: 5px;
    display: none;
}
.Default-Address {
    display: inline-block;
    font: normal 12px SimSun;
    color: #fff;
    padding: 5px 7px;
    background: #ef760a;
    margin-left: 10px;
    position: absolute;
    left: 87px;
    display: none;
}