
.detail_wrap {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
}
.clearfix:after, .detail_wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* 清除浮动 */
.clearfix {
    overflow: hidden;
}
.crumbs {
    margin: 10px 0;
    font-size: 12px;
    width: 100%;
    color: #444;
}
.detail_wrap .crumbs>a {
    margin-right: 10px;
    color: #444;
}
.detail_wrap .crumbs>a:hover {
    color: #008842;
}
.content_goods {
    margin-bottom: 20px;
}
.pic-preview {
    float: left;
    width: 500px;
    height: 600px;
}
.pic-big {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
}
.pic-thumb img {
    width: 85px;
    height: 85px;
}
.pic-thumb li {
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 16px;
    cursor: pointer;
    border: 1px solid #bcbcbc;
}
.pic-thumb li:hover {
    border: 1px solid #008842;
}
.product-info {
    float: right;
    width: 680px;
}
.summary-name {
    margin: 0 85px 20px 0;
    word-break: break-all;
    word-wrap: break-word;
}
.summary-name h1 {
    font: normal 26px "Microsoft YaHei";
}
.summary-name p {
    height: 40px;
    margin-top: 5px;
    color: #777;
    font: normal 16px/20px "Microsoft YaHei";
}
/* 产品价格 */
.summary-price {
    height: 70px;
    padding: 10px 20px;
    background: #fff;
}
.pro-price {
    float: left;
    height: 70px;
    width: 423px;
}
.detail_wrap .rmb {
    display: inline-block;
    width: 60px;
    font-size: 12px;
}
.detail_wrap .pro-price em {
    font-size: 18px;
    margin-right: -3px;
    color: #ff0000;
    padding: 0 5px;
}
.pro-price strong {
    color: #ff0000;
    font-size: 22px;
    font-weight: normal;
}
.pro-m2 {
    font-size: 12px;
    border-top: 1px solid #e2e2e2;
    margin-top: 10px;
    padding-top: 10px;
    color: #999999;
}
.pro-m2 i {
    display: inline-block;
    width: 8px;
    height: 14px;
    background: url("http://static01.yiguo.com/www/images/icon-tel.png") no-repeat center;
    vertical-align: top;
}
.pro-m2 p {
    float: right;
    font-size: 12px;
    margin-right: 18px;
    color: #444;
}
.pro-m2 strong {
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #11b57c;
}
.pro-tel {
    float: left;
}
.pro-tel .code {
    margin: -5px -7px;
    width: 73px;
    height: 73px;
    padding: 3px 4px 4px 10px;
    background: url("http://static01.yiguo.com/www/images/bg-code.png") no-repeat;
}
.pro-tel .code img {
    width: 73px;
    height: 73px;
}
.pro-review {
    float: right;
    text-align: center;
}
.pro-review p {
    line-height: 22px;
    font-size: 12px;
    color: #999;
}
.pro-review b {
    color: #e8380d;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
}
/* 中间内容右下部分 */
.summary-other {
    float: left;
    margin-top: 20px;
}
.summary-other .left {
    float: left;
    width: 529px;
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
}
.choose .dt {
    line-height: 50px;
    font-size: 12px;
}
.selected a {
    position: relative;
    float: left;
    width: auto;
    border: 1px solid #008842;
    background-color: #fff;
    white-space: nowrap;
    text-align: center;
}
.selected a:hover span {
    color: #008842;
}
.selected span {
    display: block;
    font-size: 12px;
    padding: 5px 12px 5px 9px;
    color: #444;
}
.selected span:first-child {
    border-bottom: 1px solid #008842;
}
.selected i {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("http://static01.yiguo.com/www/images/product.png") no-repeat 0 0;
}
.summary-other .dd {
    float: left;
    width: 468px;
}
.summary-other .dt {
    float: left;
    width: 40px;
    padding: 0 10px;
}
.detail_wrap .choose,.detail_wrap .pro-service,.detail_wrap .pro-amount {
    margin-bottom: 20px;
}
.pro-service {
    font-size: 12px;
    padding-left: 10px;
    color: #999;
}
.mr5 {
    margin-right: 5px;
    vertical-align: top;
}
.pro-amount>.dt {
    font-size: 12px;
    line-height: 43px;
}
.spinner input {
    float: left;
    width: 39px;
    height: 39px;
    line-height: 41px;
    font-size: 16px;
    text-align: center;
    border: none;
    border: 1px solid #e2e2e2;
    border-right: none;
}
.spinner  .decrease {
    border-top: none; 
    margin-right: 410px;
    margin-top: 0;
}
.spinner .increase {
    margin-right: 410px;
    margin-top: 0;
    height: 21px;
    border-bottom: 1px solid #e2e2e2;
}
.spinner button {
    display: block;
    width: 18px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    float: right;
    position: relative;
    border: 1px solid #e2e2e2;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-color: white;
    cursor: pointer;
    outline: none;
}
.addcart,.disabled  {
    float: right;
    width: 187px;
    height: 43px;
    margin-right: 195px;
    margin-top: -40px;
}
.addcart i, .disabled i {
    display: inline-block;
    width: 28px;
    height: 25px;
    margin-right: 5px;
    vertical-align: bottom;
    background: url("http://static01.yiguo.com/www/images/product.png") no-repeat -47px 0;
}
.addcart a, .disabled a {
    display: block;
    width: 187px;
    height: 25px;
    padding: 9px 0;
    text-align: center;
    font: normal 18px/25px "Microsoft YaHei";
    color: #fff;
    background: #008842;
    border-radius: 3px;
}
.disabled a, .disabled a:hover {
    cursor: default;
    background: #757575;
}
.addcart a:hover {
    color: #fff;
    background: #09964e;
}
.summary-other .right {
    float: right;
    width: 120px;
    line-height: 15px;
    font-size: 12px;
    padding-left: 28px;
    color: #777;
}
.summary-other .right th {
    display: inline-block;
    padding: 5px 0;
    width: 63px;
    font-weight: normal;
    text-align: left;
}
.summary-other .right td {
    padding-left: 5px;
}
/* 猜你喜欢 */
.detail_wrap .left-con {
    float: left;
    overflow: hidden;
    width: 255px;
    margin-right: 15px;
}
.detail_wrap .left-con .box {
    font-size: 12px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #cde4c0;
    background: #fff;
}
.RecentView .bd .p .del {
    display: none;
    position: absolute;
    bottom: 11px;
    right: 174px;
    width: 26px;
    height: 22px;
    background: url("http://static01.yiguo.com/www/images/product.png") no-repeat -82px -22px;
    cursor: pointer;
}
.RecentView .bd .p:hover .del {
    display: inline-block;
}
.RecentView .bd .p .del:hover {
    background-position: -82px 0;
}
.detail_wrap .left-con .hd {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #008842;
}
.detail_wrap .left-con .hd a {
    float: right;
    color: #fff;
    font-weight: normal;
}
.detail_wrap .left-con .p {
    height: 70px;
    padding: 10px 10px;
    position: relative;
    border-bottom: 1px dashed #cdcdcd;
}
.detail_wrap .left-con .p .img img {
    width: 68px;
    height: 68px;
}
.detail_wrap .left-con .p .img  {
    float: left;
    width: 68px;
    height: 68px;
    border: 1px solid #dfdfdf;
}
.detail_wrap .left-con .p .txt {
    float: left;
    width: 153px;
    margin-left: 10px;
    padding: 4px 0;
    line-height: 20px;
}
.detail_wrap .left-con .p .txt a:hover strong,.detail_wrap .left-con .p .txt a:hover {
    color: #008842;
}
.detail_wrap .left-con .p .txt strong,.RecentView .p .txt a {
    display: block;
    height: 40px;
    margin-bottom: 5px;
    color: #777;
    font-weight: normal;
}
.detail_wrap .left-con .p .txt span {
    font-size: 12px;
    color: #e8380d;
}
.detail_wrap .left-con .p .add {
    z-index: 1;
    display: none;
    position: absolute;
    right: 11px;
    bottom: 10px;
    font-size: 12px;
    color: #fff;
    padding: 3px 8px;
    background: #008842;
    border-radius: 3px;
    cursor: pointer;
}
.detail_wrap .fruit-main-con {
    float: right;
}
/* 当季热卖 */
#GetHotCommodity {
    width: 930px;
}
.hot-sale {
    font-size: 12px;
    margin-bottom: 25px;
    border: 1px solid #d4d4d4;
    background: #fff;
}
.p-img {
    margin-bottom: 10px;
}
.p-img img {
    width: 135px;
    height: 135px;
}
.hot-sale .hd {
    padding: 0 25px;
    line-height: 35px;
    color: #008842;
    font-size: 14px;
    font-weight: bold;
}
.hot-sale li {
    float: left;
    width: 135px;
    padding: 10px 25px 25px 25px;
    text-align: center;
}
.hot-sale li .p-name {
    overflow: hidden;
    height: 36px;
    line-height: 18px;
    margin-bottom: 7px;
}
.hot-sale li .p-name a {
    color: #777;
}
.hot-sale li .p-price strong {
    color: #e8380d;
    padding-right: 15px;
}
.hot-sale li .p-price del {
    color: #aaa;
}
/* 商品详情 */
.product-detail .detail-tab {
    width: 928px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border: 1px solid #d4d4d4;
    background: #fff;
}
.detail-tab .detail-ul {
    margin-top: -1px;
    overflow: hidden;
}
.detail-tab .detail-ul li {
    float: left;
    width: 130px;
    text-align: center;
    position: relative;
    border-right: 1px solid #d4d4d4;
}
.product-detail .detail-tab .detail-ul>li:hover a{
    color: #008842;
}
.detail-tab .detail-ul li .pro-active {
    position: relative;
    border-bottom: 2px solid #fff;
    background: #fff url("http://static01.yiguo.com/www/images/product.png") no-repeat -33px -58px;
}
.detail-tab .detail-ul li a {
    display: block;
    height: 36px;
    padding-top: 4px;
    line-height: 36px;
    font-size: 12px;
    color: #666;
}
.detail-tab .detail-ul>li>a>b {
    font-weight: normal;
    color: #e8380d;
    padding-left: 5px;
}
.detail-tab .addcart {
    display: none;
    position: absolute;
    right: -45px;
    top: 45px;
    width: 85px;
}
.detail-tab .addcart a {
    width: 85px;
    height: 30px;
    padding: 0;
    font: normal 12px/30px "\5b8b\4f53";
    border-radius: 0;
}
.detail-tab .shopping-cart {
    display: none;
    position: absolute;
    right: 10px;
    top: 5px;
}
.product-detail .fixed{
    display: block;
}
.detail-tab .shopping-btn {
    width: 125px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #008842;
    background: #fff;
    cursor: pointer;
}
.shopping-btn a {
    color: #008842;
}
.shopping-btn .totleNum {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    padding: 0;
    background: url("http://static01.yiguo.com/www/images/header/header-img.png") no-repeat -112px 0;
}
.shopping-btn .totleNum b {
    display: block;
    width: 24px;
    line-height: 12px;
    margin-right: 4px;
    text-align: center;
}
.shopping-btn .totlePrice {
    font-weight: normal;
    font-size: 18px;
}
.detail-table {
    width: 100%;
    font-size: 14px;
    margin: 0 0 20px 0;
    border: 1px solid #d3e2ca;
}
.detail-table th, .detail-table td {
    color: #666;
    border: 1px solid #d3e2ca;
}
.detail-table th {
    background: #e7f5ee;
    font-weight: normal;
    width: 150px;
    padding: 10px 10px 10px 20px;
    text-align: left;
}
.detail-table td {
    padding: 10px 20px;
}
.detail-content {
    float: right;
}
.details {
    width: 880px;
    padding: 24px;
}
.detail-item {
    float: right;
    margin-top: -1px;
    margin-bottom: 20px;
    border: 1px solid #d4d4d4;
    background: #fff;
}
.details p {
    margin-top: -4px;
}
/* 商品评论 */
.detail-item {
    margin-top: -1px;
    margin-bottom: 20px;
    border: 1px solid #d4d4d4;
    background: #fff;
}
.comment-info {
    height: 90px;
    padding: 20px 0;
    border-bottom: 1px solid #d4d4d4;
}
.score {
    float: left;
    width: 200px;
    font-size: 12px;
    text-align: center;
    border-right: 1px dashed #d4d4d4;
}
.score b {
    font-size: 36px;
    color: #008842;
    display: block;
    text-align: center;
    padding: 10px 0;
}
.score b span {
    font-size: 12px;
    font-weight: normal;
    vertical-align: initial;
    color: #666;
}
.score strong {
    color: #008842;
}
.percent {
    float: left;
    font-size: 12px;
    padding: 12px 110px 2px 110px;
    border-right: 1px dashed #d4d4d4;
}
.comment-btn {
    float: left;
    width: 280px;
    font-size: 12px;
    padding: 8px 0 8px 75px;
}
.comment-btn .btn-gn {
    display: block;
    width: 100px;
    height: 26px;
    margin: 10px 0;
    line-height: 26px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
.btn-gn {
    color: #fff;
    background: #008842;
}
.btn-gn:hover {
    color: #fff;
    background: #09964e;
}
.comment-btn p {
    color: #777;
    font-size: 12px;
}
.percent .slip {
    float: left;
    margin-left: 10px;
}
.percent .slip li {
    width: 140px;
    height: 10px;
    background: #e4e4e4;
    margin-bottom: 15px;
    position: relative;
}
.percent .slip li b {
    width: 35px;
    position: absolute;
    left: -35px;
    top: 0;
    font-weight: normal;
}
.percent .slip li span {
    height: 10px;
    display: block;
    background: #008842;
    width: 0;
}
.percent .slip li i {
    display: inline-block;
    width: 35px;
    position: absolute;
    left: 150px;
    top: 0;
    font: normal 12px/10px Arial;
}
.comment-tab-wrap {
    position: relative;
    border-bottom: 1px solid #ebebeb;
}
.comment-list {
    padding: 20px 20px 40px;
}
.comment-tab {
    float: left;
    border-bottom: 0;
}
.comment-tab .on {
    color: #008842;
    border-color: #008842;
    position: relative;
}
.comment-tab span {
    display: block;
    float: left;
    height: 30px;
    margin: 0 22px 0 0;
    padding: 0 5px;
    color: #777;
    border-bottom: 2px solid #fff;
    font: normal 14px/30px SimSun;
    background: #fff;
    cursor: pointer;
}
.comment-tab-wrap .extra {
    float: right;
    font-size: 12px;
    line-height: 32px;
}
.comment-tab-wrap .extra span {
    margin-left: 10px;
}
input {
    vertical-align: middle;
}
select {
    outline: none;
    color: black;
    font-size: 14px;
}
.comment-item {
    padding: 15px 0 15px 0;
    font-size: 12px;
}
.comment-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.comment-con>ul>li {
    position: relative;
}
.comment-item .user img {
    width: 60px;
    height: 60px;
}
.comment-item .user {
    font-size: 12px;
    width: 66px;
    float: left;
    padding: 0 30px 0 20px;
    text-align: center;
}
.content-comment {
    float: left;
    width: 772px;
}
.comment-item .user .name {
    margin-top: 5px;
}
.comment-item .user span {
    display: block;
    line-height: 18px;
    text-align: center;
}
.content-comment .heading {
    height: 12px;
    line-height: 12px;
    padding: 10px 15px;
    background: #f7f7f7;
}
.content-comment .reply {
    line-height: 22px;
    margin: 10px 0;
    padding: 0 15px;
}
.content-comment .heading .stars {
    float: left;
    margin-left: 20px;
}
.content-comment .heading .txt {
    float: left;
    margin-left: 20px;
}
.content-comment .heading .date {
    color: #777;
    float: right;
    font-size: 12px;
}
/* 卖家回复图片 */
.content-comment .reply .reply-images {
    margin-top: 10px;
}
.content-comment .reply .reply-images  img{
    width: 60px;
    height: 60px;
}
/* 来自易果二维码 */
.content-comment .heading .comefrom {
    float: right;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.comment-con>ul>li .QR-code  i {
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 55px; 
    width: 12px;
    height: 8px;
    background: url("http://static01.yiguo.com/www/images/arrow.png") no-repeat;
}
.content-comment .heading .comefrom .QR-code {
    display: none;
    z-index: 3;
    position: absolute;
    top: 22px;
    left: -23px;
    padding: 5px 5px 2px;
    background: #fff;
    text-align: center;
    cursor: pointer;
    border: 1px solid #d4d4d4;
}
.content-comment .heading .comefrom:hover .QR-code {
    display: block;
}
.content-comment .stars .stars-bg {
    overflow: hidden;
    width: 70px;
    height: 12px;
    background: url("http://static01.yiguo.com/www/images/stars.png") 0 -12px no-repeat;
}
.content-comment .stars div {
    float: left;
    margin-right: 8px;
    line-height: 12px;
}
.content-comment .stars .stars-bg span {
    display: block;
    height: 17px;
    background: url("http://static01.yiguo.com/www/images/stars.png") no-repeat;
    width: 0;
}
.content-comment .stars b {
    font-weight: normal;
}
.content-comment .heading .txt span {
    padding-right: 15px;
}
.content-comment .heading .date span {
    margin-left: 20px;
}
.green {
    color: #008842;
}
.content-comment .yiguo-reply {
    color: #008842;
    font-size: 12px;
    padding: 0 15px;
    line-height: 18px;
}
.content-comment .yiguo-reply dt {
    float: left;
    margin-right: 20px;
}
.content-comment .yiguo-reply dd {
    overflow: hidden;
}
.comment-con p {
    font-size: 12px;
    line-height: 25px;
    padding: 20px;
}
/* 第二个详情页面 */
.recipe .crumbs {
    margin: 10px 0;
    margin-left: -10px;
}
.recipe .crumbs a {
    margin: 0 10px;
    color: #444;
}
.recipe .crumbs a:hover {
   color: #008842;
}
.recipe .recipe-intro {
    padding-bottom: 25px;
    border-bottom: 1px solid #d9d9d9;
}
.recipe .recipe-intro .pic {
    position: relative;
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid #d9d9d9;
}
.recipe .recipe-intro .pic img {
    width: 500px;
    height: 500px;
}
.recipe .recipe-info {
    width: 670px;
    margin-left: 527px;
}
.recipe .recipe-info h1 {
    font: normal 40px "Microsoft YaHei";
}
.recipe .recipe-info .tag {
    margin-top: 20px;
}
.recipe .recipe-info .tag span {
    display: inline-block;
    padding: 7px 17px;
    color: #85b100;
    font-size: 14px;
    border: 1px solid #cfcfcf;
    background: #fff;
}
.recipe .introduce {
    margin-top: 20px;
    color: #888;
    font-size: 14px;
    line-height: 25px;
}
.recipe .recipe-main .main {
    float: left;
    width: 940px;
}
.recipe .recipe-main h4 {
    margin: 20px 0;
    font: bold 20px "Microsoft YaHei";
    color: #666;
}
.recipe .food-heading {
    font: bold 16px/26px microsoft yahei;
    color: #3E3A39;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 5px;
}
.recipe .food-heading>em {
    float: left;
    width: 8px;
    height: 26px;
    margin-right: 10px;
    background: #85b100;
}
.recipe .menu-food .info {
    line-height: 28px;
    color: #888;
    overflow: hidden;
}
.recipe .menu-food {
    background: #fff;
    padding: 10px 15px;
    overflow: hidden;
    position: relative;
}
.recipe .menu-food .img {
    float: left;
    margin-right: 25px;
    width: 500px;
    height: 348px;
}
.recipe .menu-food .info h3 {
    font-size: 14px;
    color: #3E3A39;
}
.recipe .recipe-guide {
    width: 240px;
    margin-top: 70px;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    background: #fff;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.recipe .recipe-guide a {
    display: block;
    height: 24px;
    padding: 15px 20px;
    border-bottom: 1px solid #d9d9d9;
    color: #85b100;
    font: normal 16px/24px "Microsoft YaHei";
}
.recipe .current {
    background: url("http://static01.yiguo.com/article/images/recipe/recipe_guide.png") no-repeat 0 -94px;
}
.recipe .side-guide {
    position: relative;
    float: right;
    width: 240px;
}
.recipe .recipe-guide i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 25px;
    vertical-align: middle;
    background: url("http://static01.yiguo.com/article/images/recipe/recipe_guide.png") no-repeat;
}
.recipe .recipe-guide .icon01 {
    background-position: 0 0;
}
.recipe .recipe-guide a:hover .icon01, .recipe-guide .current .icon01 {
    background-position: -26px 0;
}
.recipe .recipe-guide .icon02 {
    background-position: -2px -24px;
}
.recipe .recipe-guide a:hover .icon02, .recipe .recipe-guide .current .icon02 {
    background-position: -26px -24px;
}
.recipe .recipe-guide .icon03 {
    background-position: 0 -48px;
}
.recipe .recipe-guide a:hover .icon03, .recipe .recipe-guide .current .icon03 {
    background-position: -26px -48px;
}
.recipe .recipe-guide .icon04 {
    background-position: 0 -72px;
}
.recipe .recipe-guide a:hover .icon04, .recipe-guide .current .icon04 {
    background-position: -26px -72px;
}
.recipe .recipe-guide a:hover,.recipe .recipe-guide .current {
    background: url("http://static01.yiguo.com/article/images/recipe/recipe_guide.png") no-repeat 0 -94px;
}
.recipe-guide a:hover i, .recipe-guide .current i {
    margin-right: 45px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.recipe .recipe-guide a:hover span{
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
/* 第三个页面样式 */
.detail_wrap .content {
    margin: 30px 0 50px 0;
}
/* 中间 */
.detail_wrap .main-con {
    float: left;
    width: 910px;
    padding-right: 30px;
    border-right: 1px solid #aaa;
}
.detail_wrap .news-box {
    position: relative;
    width: 910px;
    height: 290px;
    margin-bottom: 50px;
}
.detail_wrap .news-box .img {
    float: left;
    margin-right: 25px;
    width: 290px;
    height: 290px;
}
.detail_wrap .content .news-box .name a {
    color: #444;
}
.detail_wrap .content .news-box .name a:hover {
    color: #85b100;
}
.detail_wrap .content .news-box .img img{
    width: 290px;
    height: 290px;
}
.detail_wrap .content .news-box .name {
    font: bold 20px "Microsoft YaHei";
}
.detail_wrap .content .news-box .intro {
    overflow: hidden;
    width: 595px;
    height: 200px;
    margin-top: 25px;
    line-height: 25px;
    color: #777;
}
.detail_wrap .news-box .like {
    float: left;
    margin-right: 25px;
}
.detail_wrap .news-box .like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #85b100;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.detail_wrap .news-box .like .VoteCount {
    color: #85b100;
}
.detail_wrap .news-box .like i {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("http://static01.yiguo.com/article/images/recipe/recipe_guide.png") no-repeat -3px -75px;
}
/* 右边 */
.detail_wrap  .right-con {
    float: right;
    width: 240px;
    margin-left: 19px;
}
.detail_wrap .right-con .list {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.detail_wrap .right-con .hd {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}
.detail_wrap .right-con .list a {
    display: block;
    height: 25px;
    padding-left: 10px;
    line-height: 25px;
}
.detail_wrap .right-con .list a:hover {
    color: #fff;
    background: #85b100;
}
.detail_wrap .bd a {
    color: #444;
}
.detail_wrap .bd .selectCategory {
    color: #fff;
    background: #85b100;
}
.detail_wrap .right-con .hd {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}
.detail_wrap .right-con .hot .box {
    margin-bottom: 20px;
}
.detail_wrap .right-con .hot a img {
    display: block;
    width: 240px;
    height: 240px;
    margin-bottom: 10px;
}
/* 汤页面 */
/* 左边 */
.news-detail h1 {
    margin-bottom: 15px;
    font: bold 20px "Microsoft YaHei";
    color: #444;
}
.news-detail li {
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    line-height: 24px;
    color: #444;
}
.news-detail .news-list-spaceB {
    height: 24px;
}
.news-detail .news-list-spaceS {
    height: 15px;
}
.news-detail .news-list-font {
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
/* 右边 */
.hot .box a:hover {
    color: #85b100;
}