
    /* s */
    .act {
        color: #007f4d !important;
    }
    .helpnav a,.footer-top a {
        display: inline-block;
        font-size: 12px;
        margin-top: 5px;
        line-height: 22px;
        padding-right: 10px;
        color: #7a7a7a;
        text-decoration: none;
    }
    .footer-top  {
        margin: 10px 0px;
    }
    .footer-top a {
        color: #444;
        margin-left:10px;
    }
    .u-money {
        color: #444;
        text-decoration: none;
    }
    .blogroll a {
        color: #7a7a7a;
        text-decoration: none;
    }
    .u-money:hover,.blogroll a:hover  {
        color: #008842;
    }
    ul {
        list-style: none;
    }
    .con {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    .side {
        float:left;
        width: 178px;
        height: 937px;
    } 
    .tt {
        font-size: 14px;
        color: #404040;
        padding: 10px 0;
        font-weight: bold;
        border-bottom: 1px solid #898989;
    }
    .helpnav .tt {
        width: 84px;
    }
    .helpshow {
        float: right;
        width: 1020px;
        overflow: hidden;
   }
   .green-to {
        color: #008742;
        font-size: 14px;
   }
   .green-tt {
        margin: 10px 0 15px;
   }
   .green-tt1 {
       margin: 30px 0 15px;
   }
   .green-on {
        margin: 10px 0 ;
   }
   .words {
        color: #818985;
        line-height: 22px;
        padding-left: 15px;
   }
   .green {
        color: #008842;
   }
    .green-tt_p {
        margin-top: 5px;
        line-height: 22px;
    }
    .words_p {
        padding:0 0 0 30px;
    }
    .words_bro {
        margin-top: 20px;
        font-weight: bold;
        color: #444; 
    }
    .words_bro-mar {
        font-weight: bold;
        color: #444; 
    }
    .words_bro-color {
        color: #000; 
    }
    .marginbtm25{
        margin-bottom: 25px;
    }
    .words_red {
        color: #ff0000;
    }
    .explain {
        margin-top: 10px; 
    }
    .margintop20 {
        margin-top: 20px;
        line-height: 22px;
    }
    .margintop30 {
        margin-top:30px;
    }
    .footer-table table {
        font-size: 12px;
        border-collapse: collapse;
        border-spacing: 0;
    }
     .footer-table tr,.footer-table td{
        padding: 10px;
        border:1px solid #eee;
        background-color: #fff;
    }
    .center {
        text-align: center;
    }
    .th_color {
        font-weight: bold;
        padding: 10px;
        border:1px solid #eee;
        background-color: #f9fffc;
    }
    .helpshow_div4 a,.helpshow_div5 a {
        text-decoration: none;
        color: #444;
    }
    .WordSection1 {
        float: right;
        margin-right: 150px;
    }
    .helpshow_div5_font {
        font-size:9.0pt;
        font-family:"Arial","sans-serif";
        color:#3F3F3F;
    }
    .helpshow_div5_family {
        font-size:9.0pt;
        font-family: "宋体";
        color:#3F3F3F;
    }
    .helpshow_div5_color {
        font-size:9.0pt;
        color:#555;
    }
    .helpshow_div5_color1 {
        font-size:9.0pt;
        font-family:"宋体";
        color:#333333;
    }
    .helpshow_div5_margin {
        margin-top:3.75pt;
        margin-bottom:3.75pt;
    }
    .helpshow_div5_h4 {
        line-height: 26.25pt
    }
    .helpshow_div5_h3 {
        text-align:center;
         color:#444; 
         font-size: 12px;
    }
    .lineheight {
        line-height: 15.0pt;
    }
    .lineheight a {
        text-decoration: none;
    }
    .underline {
        text-decoration: underline;
        color: #333;
    }
    .business {
        width: 100%;
        height: 100%;
    }
    .business1 {
        width: 100%;
    }
    .transaction {
        width: 1020px;
        height: 300px; 
        margin-top: 20px;
    }
    .transaction1 {
        width: 1020px;
        height: 105.4px;
    }
    .transaction2 {
        float: left; 
        width: 140px;
        height: 106px; 
        padding-right: 30px;
    }
    .transaction3 {
        width: 1020px;
        height: 144px;
        margin-top: 50px;
        overflow: hidden;
    }
    .transaction4 {
        float: left;
        width: 140px;
        height: 143.4px;
        padding-right: 30px;
        text-align: center;
    }
    .css-h1 {
        margin-left:30.75pt;
        text-indent:-30.75pt;
        line-height:22.0pt;
    }
    .cssd {
        margin:3.75pt 0pt;
        text-align:left;
        text-indent:21.0pt;
        line-height:22.0pt;
    }
    .cssf {
        color: #444;
        font-family:"微软雅黑","sans-serif";
    }
    .cssf-font1 {
        font-size: 10.5pt;
    }
    .cssf-font2 {
        font-size: 16pt;
    }
    .cssg {
        text-indent:21.0pt;
        line-height:22.0pt;
    }
    .cssh {
        margin-left:60.0pt;
        text-indent:-36.0pt;
        line-height:22.0pt;
    }
    .cssj {
        color: #000;
        font-size:10.5pt;
        font-family:"微软雅黑","sans-serif";
    }
    .cssk {
        font:7.0pt "Times New Roman";
    }
    .css-weight {
        font-weight: bold;
    }
    .css-decration {
        text-decoration: underline;
    }
    .nbsp {
        display: inline-block;
        text-indent: 12pt;
    }
    .nbsp1 {
        display: inline-block;
        text-indent: 23pt;
    }
    .linept {
        line-height:22.0pt;
    }
    .blogroll {
        display: inline-block;
        width: 16%;
    }
    .blogroll-left,.blogroll-left1 {
        float: left;
        width: 50%;
    }
    .blogroll-left1 input {
        width: 310px;
        padding: 5px 10px;
        line-height: 20px;
        background: #fff;
        border: 1px solid #bfbfbf;
        outline: none;
    }
    .blogroll-left1 span{
        display: inline-block;
        text-align: right;
        width: 120px;
        height: 30px;
    }
    .blogroll-span {
        vertical-align: top;
    }
    .blogroll-left1 textarea {
        width: 307px;
        height: 90px;
        padding: 5px 10px;
        line-height: 20px;
        outline: none;
        resize: none;
        letter-spacing: -2px;
    }
    .blogroll-left1 button {
        display: block;
        width: 90px;
        height: 30px;
        line-height: 30px;
        margin-left: 360px;
        text-align: center;
        color: #fff;
        background: #008842;
        border: 0;
    }
    .blogroll-left1 button:hover {
        color: #fff;
        background: #09964e;
    }
    .popout7{
      position: relative;
      display: none;
    }
    .popout1{
        width: 418px;
        height: 197px;
        position: absolute;
        z-index: 3; 
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background:#fff;
        border: 1px solid #008742;
    }
    .popout2{
        position: relative;
        height: 16px;
        color: #fff;
        font-size: 14px;
        padding: 7px 0;
        text-align: center;
        background: #008742;
    }
    .popout3{
        padding: 25px 30px;
        line-height: 22px;
        font-size: 12px; 
        text-align: center;
    }
    .popout4{
        font-size: 14px;
        color: #3f3f3f;
        text-align: center;
        padding-top: 15px;
    }
    .popout5{
        width: 90px;
        height: 30px;
        cursor: pointer;
        color: #fff;
        line-height: 30px;
        border-radius: 3px;
        text-align: center;
        display: inline-block;
        margin: 45px 20px 0px 20px;
        background: #008742;
        border: 1px solid #6ab930;
    }
    .popout6{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;left: 0;
        z-index: 2;
        background: #000;
        border: 0;
        opacity: .2;
    }
    .popout-icon{
        position: absolute;
        top: 8px;
        left: 170px;
        margin-right: 10px;
        background:url(http://static01.yiguo.com/www/images/promotion-img.png) no-repeat;
        background-position: -63px -39px;
        width: 13px;
        height: 17px;
        display: block;
    }
    .active {
        background-color: #c7e2d4;
    }
    .vip-box {
        background: url(http://img09.yiguoimg.com/e/items/2017/170321/9288705468408437_1920x5923.jpg) no-repeat top center;
    }
    .vip-box1 {
        position: relative;
        width: 100%;
        height: 100%;
        background: url(http://img09.yiguoimg.com/e/items/2017/170406/9288706211357318_1920x3831.jpg) no-repeat top center #efefef;
    }
    .vip_img {
        width: 1000px;
        margin: auto;
    }
    .s-btn,.s-btn1 {
        width: 50px;
        height: 42px;
        margin-bottom: 10px;
        background: url(http://static01.yiguo.com/www/images/sidebar.png) no-repeat ;
        border: 0 none;
    } 
    .s-btn {
        display: block;
    }
    .s-btn {
        background-position: 0px -46px;
    }
    .s-btn:hover {
        background-position: -56px -46px;
    }
    .s-btn1 { 
        background-position: 0px 0px;
    }
    .s-btn1:hover {
        background-position: -56px 0px;
    }
    .vip-side {
        position: fixed;
        bottom: 20px;
        right: 90px;
        z-index: 1;
    }
    .show {
        display: block;
    }
    .vip-new {
        display: block;
        width: 461px;
        height: 150px;
        position: absolute;
        right: 562px;
        top: 2731px;
    }
    .footer_service_wrap {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }
    .footer_service {
        overflow: hidden;
        background: #e0e0e0;
        padding: 30px 0;
    }
    .footer_service1 {
        margin-top: 50px;
    }
    .footer_service li {
        float: left;
        width: 190px;
        height: 42px;
        margin-left: 55px;
        padding-left: 55px;
        list-style: none;
    }
    .footer_service li b {
        display: block;
        padding-left: 15px;
        color: #007f4d;
        font-size: 18px;
        font: normal 18px/25px "Microsoft YaHei";
        border-left: 1px solid #a6a6a6;
    }
    .footer_service li span {
        display: block;
        padding-left: 15px;
        border-left: 1px solid #a6a6a6;
        font-size: 12px;
        color: #444;
    }
    .footer {
        clear: both;
        padding-bottom: 20px;
        background-color: #f7f8f8;
        border-top: 1px solid #e0e0e0;
    }
    .footer .wrap {
        margin: 50px auto 0;
        padding: 0;
        overflow: hidden;
    }
    .footer .wrap ul span{
        height: 23px;
        line-height: 23px;
        font-size: 14px;
        text-indent: 40px;
        color:#444;
    }
    .col {
        float: left;
        width: 190px;
        margin-left: 50px;
        line-height: 22px;
        position: relative;
    }
    .col a:hover {
        color: #008842;
        text-decoration: underline;
    }
    .col ul {
        list-style: none;
        font-size: 12px;
        padding-left: 20px;
        height: 110px;
        margin: 15px 0 0 13px;
        border-left: 1px dashed #A8A8A8;
    }
    .col span {
       display: inline-block;
       height: 23px;
       color: #444;
       text-indent: 40px;
       font-size: 14px;
    } 
    .footer a {
        text-decoration: none;
        color: #575556;
    }
    .service {
        clear: both;
        text-align: center;
        padding: 60px 0 20px;
        color: #008842;
        font-size: 0;
    }
    .service span{
        display: inline-block;
        padding: 0 10px;
        font-size: 14px;
    }
    .copyright {
        font-size: 12px;
        color: #717171;
        line-height: 22px;
        clear: both;
        text-align: center;
    }
    .copyright li:hover {
        color: #008842;
    }
    .copyright-img {
        height: 47px;
    }
    .copyright_p a {
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
        position: relative;
    }
    .copyright_p-img {
        height: 47px;
    }
    .copyright_span {
        height: 20px;
        line-height: 20px;
        margin: 0px 0px 0px 2px;
        color: #939393;
        vertical-align: top;
    }
    .copyright_span-login {
        position: absolute;
        top: 25px;
        left: 50px;
        width: 180px;
        line-height: 20px;
        color: #001b75;
    }
    .icon {
        display: block;
        height: 43px;
        width: 44px;
        background: url(http://static01.yiguo.com/www/images/footer_service_icon.png); 
        background-repeat: no-repeat; 
    }
    .icon1 {
        background-position: 0px 0px;
        position: absolute;
        left: 55px;
        top: -1px;
    }
    .icon2 {
        background-position: 0px -42px;
        position: absolute;
        left: 354px;
    }
    .icon3 {
        background-position: 0px -84px;
        position: absolute;
        left: 654px;
    }
    .icon4 {
        background-position: 0px -126px;
        position: absolute;
        left: 954px;
    }
    .warp-icon {
        display: block;
        height: 23px;
        width: 39px;
        background: url(http://static01.yiguo.com/www/images/footer_icon.png);
        background-repeat: no-repeat;
        position: absolute;
        left: -2px; 
        top: 1px; 
    }
    .warp-icon1 {
        background-position: 0px 0px;
    } 
    .warp-icon2 {
        background-position: -0px -23px;
        position: absolute;
        left: -2px;
        top: 0px;
    }
    .warp-icon3 {
        background-position: 0px -46px;
        position: absolute;
        left: -2px;
        top: -1px;
    }
    .warp-icon4 {
        background-position: 0px -69px;
        position: absolute;
        left: -2px;
        top: 0px;
    }
    .warp-icon5 {
        background-position: 0px -92px;
    }
    .error h2 {
        font: bold 30px "Microsoft YaHei";
    }
    .error {
        float: right;
        height: 385px;
        padding: 83px 107px 0 74px;
        color: #777;
        border: 0 none ;
    }
    .error p {
        margin-top: 10px;
        font: 16px "Microsoft YaHei";
    }
